include uniparser_soviet_romani/data_strict/*.txt
include uniparser_soviet_romani/data_nodiacritics/*.txt
include uniparser_soviet_romani/data_strict/*.cg3
include uniparser_soviet_romani/data_nodiacritics/*.cg3